#Recurrsion

In [ ]:
import numpy as np
arr = np.array([1, 3, 6, 7, 8])

In [ ]:
#Reverse the array using recurrsion
def reverse(list):
    if len(list)==0:
        return []
    return [list[-1]]+reverse(list[:-1])
reverse(arr)

[8, 7, 6, 3, 1]

In [ ]:
#Sum of list of numbers
def listsum(list):
  n = len(list)
  if n == 0:
    return []
  else:
    return list[:-1] + list[:n-1]

listsum(arr)

10

In [ ]:
#Fabocci series using recurssion
def fab(a, b, n):
  num = 0
  b = 0
  if a >= n:
    return []
  else:
    b = a + b
    print(a)
    print(b)
    return [b] + fab(s+1, s+1, n)
fab(0, 1, 5)

#Local and global scope of variable

In [ ]:
temp = 10   # global-scope variable
def func():
     temp = 20   # local-scope variable
     print(temp)
print(temp)   # output => 10
func()    # output => 20
print(temp)   # output => 10

10
20
10

In [ ]:
temp = 10   # global-scope variable
def func():
     global temp
     temp = 20   # local-scope variable
     print(temp)
print(temp)   # output => 10
func()    # output => 20
print(temp)   # output => 20

10
20
20

#List and dict  and  array questions

In [ ]:
# list and dict comprehension
#list compehension
element = [1, 3, 5, 6, 7, 8, 18, 6]
list1 = [x for x in element if x%2 != 0]
print(list1)
#dict comprehension
list2 = {x:x for x in element if x%2 != 0}
print(list2)

[1, 3, 5, 7]
{1: 1, 3: 3, 5: 5, 7: 7}

In [ ]:
#combning two lists comprehension
list1 = [2, 5, 4]
list2 = [3, 5, 6]
result = [(x-y) for x,y in zip(list1, list2)]
print(result)
#nested iterartions
result1 = [(x, y) for x in list1 for y in list2]
print(result1)

[-1, 0, -2]
[(2, 3), (2, 5), (2, 6), (5, 3), (5, 5), (5, 6), (4, 3), (4, 5), (4, 6)]

In [ ]:
#two for loops
my_list = [[10,20,30],[40,50,60],[70,80,90]]
result2 = [x for temp in my_list for x in temp]
print(result2)
result3 = [(lambda x:x)(x) for temp in my_list for x in temp]
print(result3)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
#list comprehension in lambda function
#First way:
result3 = [(lambda x:x)(x) for temp in my_list for x in temp]
print(result3)
#Second way
f = lambda x: x 
result4 = [f(x) for temp in my_list for x in temp]
print(result4)

[10, 20, 30, 40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
#Wrapper function and lambda funtion
def myWrapper(n):
 return lambda a : a * n
mulFive = myWrapper(5)
print(mulFive(2))

10

In [ ]:
#Copying the objects
from copy import copy , deepcopy

In [ ]:
#shallow copy
list1 = [1, 4, 5, 6]
list2 = copy(list1)
list2[2] = 100
list2.append(500)
print(list1)
print(list2)
#deep copy 
list1 = [1, 4, 5, 6]
list3 = deepcopy(list1)
list3[2] = 100
list3.append(500)
print(list1)
print(list3)

[1, 4, 5, 6]
[1, 4, 100, 6, 500]
[1, 4, 5, 6]
[1, 4, 100, 6, 500]

In [ ]:
#Generating faboci series
def fib(x):
  a = 0
  b = 1
  count = 0
  while count < x:
    print(a)
    a_nxt = a + b    
    a, b = b, a_nxt
    count += 1
  
fib(10)

0
1
1
2
3
5
8
13
21
34

In [ ]:
#Printing of fibnocci series
def fibonacci(n):
    if(n <= 1):
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
n = int(input("Enter number of terms:"))
print("Fibonacci sequence:")
for i in range(n):
    print(fibonacci(i))

Enter number of terms:10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [ ]:
#values pass by refrence in python
def appendNumber(arr):
   arr.append(4)
arr = [1, 2, 3]
print(arr)  #Output: => [1, 2, 3]
appendNumber(arr)
print(arr)  #Output: => [1, 2, 3, 4]

print(arr)

[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

#Strings in python

In [ ]:
# split the string
string = 'This is the programming practice code for interview questions'
string_list = string.split(' ')
' '.join(string_list)

'This is the programming practice code for interview questions'

In [ ]:
# *argv and *kwargs
def multiply(a, b, *argv):
   mul = a * b
   for num in argv:
       mul *= num
       print(argv)
   return mul
print(multiply(1, 2, 3, 4, 5)) #output: 120

(3, 4, 5)
(3, 4, 5)
(3, 4, 5)
120

In [ ]:
def keyarg(**kwargs):
  for key, values in kwargs.items():
    #print(key)
    print(values)
    #print(kwargs)
keyarg(arg1 = '1', arg2 = 'hello')

1
hello

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
#print last two elements in reverse order
arr[:2:-1]

[6, 5, 4]

In [ ]:
arr = [1, 2, 3, 4, 5, 6]
#print last two elements in reverse order
arr[2::-1]

[3, 2, 1]

#Classes in python

In [ ]:
class childclass():
  def __init__(self, number):
    self.number = number
  def squre(self):
    return self.number * self.number

class parentclass(childclass):
  def double(self):
    return 2 * self.number

In [ ]:
ob1 = parentclass(5)
ob1.double()

10

In [ ]:
# Base class
class A:
     def a_func(self):
         print("I am from the parent class.")

# 1st Derived class
class B(A):
     def b_func(self):
         print("I am from the first child.")

# 2nd Derived class
class C(A):
     def c_func(self):
         print("I am from the second child.")
 
# Driver's code
obj1 = B()
obj2 = C()
obj1.a_func()
obj1.b_func()    #child 1 method
obj2.a_func()
obj2.c_func()    #child 2 method

I am from the parent class.
I am from the first child.
I am from the parent class.
I am from the second child.

In [ ]:
class Parent(object):  
   # Constructor
   def __init__(self, name):
       self.name = name    
 
class Child(Parent): 
   # Constructor
   def __init__(self, name, age):
       Parent.name = name
       self.age = age
 
   def display(self):
       print(Parent.name, self.age)
 
# Driver Code
obj = Child("Interviewbit", 6)
obj.display()

Interviewbit 6

In [ ]:
#Check child or parent class is subclass
class Parent(object):
   pass   
 
class Child(Parent):
   pass   
 
# Driver Code
print(issubclass(Child, Parent))    #True
print(issubclass(childclass, parentclass))    #False

True
False

#Pandas questions

In [ ]:
#Converting dict into series
import pandas as pd    
dict_info = {'key1' : 2.0, 'key2' : 3.1, 'key3' : 2.2}  
series_obj = pd.Series(dict_info)    
print (series_obj)

key1    2.0
key2    3.1
key3    2.2
dtype: float64

In [ ]:
import pandas as pd      
data_info = {'first' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),    
       'second' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}    
  
df = pd.DataFrame(data_info)    
#To add new column third
df['third']=pd.Series([10,20,30],index=['a','b','c'])    
print (df)    
#To add new column fourth
df['fourth']=df['first']+df['third']    
#print (df)

   first  second  third
a    1.0       1   10.0
b    2.0       2   20.0
c    3.0       3   30.0
d    NaN       4    NaN

In [ ]:
#Conoverting numpy array to pd dataframe and add and remove the colums
import numpy as np
array = np.random.randn(5, 3)
df = pd.DataFrame(array, columns= ['col1', 'col2', 'col3'], index=['1', '2', '3', '4', '5'])
#add column 
df['col4'] = [1, 4, 3, 5, 3]
print(df)
#remove colum
df1 = df.drop('col3', axis='columns')
print(df1)

       col1      col2      col3  col4
1 -0.368838  0.210328  0.059639     1
2 -1.025245 -0.626400 -0.967654     4
3  1.642866  2.003923 -0.513566     3
4  2.509781  1.104124  0.865785     5
5  1.739892  1.266685 -0.271885     3
       col1      col2  col4
1 -0.368838  0.210328     1
2 -1.025245 -0.626400     4
3  1.642866  2.003923     3
4  2.509781  1.104124     5
5  1.739892  1.266685     3

In [ ]:
#printing the elements that are not same

#intersection and union method
arr1 = np.array([2, 4, 7, 6])
arr2 = np.array([3, 4, 6, 7])
intersection  = np.intersect1d(arr1, arr2)
union = np.union1d(arr1, arr2)
unique_elements = np.setdiff1d(union, intersection)
print(unique_elements)

#using setxor operation
elements = np.setxor1d(arr1, arr2)
print(elements)

#symmetric differences method
elements2 = np.array(set(arr1).symmetric_difference(arr2))
print(elements2)

#using loop comprehension
elements3 = [x for x in arr1 if x not in arr2] + [x for x in arr2 if x not in arr1]
print(elements3)

[2 3]
[2 3]
{2, 3}
[2, 3]

#Sorting in python

In [ ]:
#sort the numpy array using sort()
arr = np.array([1, 5, 2, 3, 4, 7, 6]).tolist()
print(arr)
arr.sort()
print(arr)
arr.sort(reverse = True)
print(arr)
arr1 = sorted(arr)
print(arr1)
arr2 = sorted(arr, reverse = True)
print(arr2)

[1, 5, 2, 3, 4, 7, 6]
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Find the nearest value in array for given number
import numpy as np
number = 6.9
array = np.array([1, 5, 2, 3, 4, 7, 6])
np.abs(array - number).argmin()

5

##Factorial of the number

In [ ]:
number = input('Enter the number')
def factorial(n):
  factorial = 1
  if n == 0:
    print('factorial of 0 is 1')
  elif n < 0:
      print('factorial of negative number do not exist')
      return
  else:
    for i in range(1, n+1):
      factorial = factorial * i
  return factorial

factorial(int(number))

Enter the number4

24

In [ ]:
#Factorial using recurrsion
def factorialrec(n):
  if n == 1:
    return n
  else:
    return factorialrec(n - 1) * n
factorialrec(int(number))

24

In [ ]:
(4 & 3) == 0

True

In [ ]:
x = 3, 2, 5, 6
print(list(x))
print((x))

[3, 2, 5, 6]
(3, 2, 5, 6)

In [ ]:
x = 'jsvs.ets'
y = x.split('.')
y[1]

'ets'

In [ ]:
#profiling of python program
import cProfile
def mul(a, b):
  return (a * b)
cProfile.run('mul(2, 4)')

         4 function calls in 0.000 seconds

   Ordered by: standard name

   ncalls  tottime  percall  cumtime  percall filename:lineno(function)
        1    0.000    0.000    0.000    0.000 <ipython-input-2-bb29e409f8ed>:3(mul)
        1    0.000    0.000    0.000    0.000 <string>:1(<module>)
        1    0.000    0.000    0.000    0.000 {built-in method builtins.exec}
        1    0.000    0.000    0.000    0.000 {method 'disable' of '_lsprof.Profiler' objects}

In [ ]:
#Print stderr
from __future__ import print_function
import sys
def func(*args, **kwargs):
  print(*args, file=sys.stderr, **kwargs)
  print('args: ', *args)
  print('kwargs: ', **kwargs)
func('123', '456', '789', sep='__')

args:  123 456 789
kwargs:

123__456__789

In [ ]:
#Get current username
import getpass
print(getpass.getuser())

root

In [ ]:
#print copyright information
import sys
print(sys.copyright)

Copyright (c) 2001-2022 Python Software Foundation.
All Rights Reserved.

Copyright (c) 2000 BeOpen.com.
All Rights Reserved.

Copyright (c) 1995-2001 Corporation for National Research Initiatives.
All Rights Reserved.

Copyright (c) 1991-1995 Stichting Mathematisch Centrum, Amsterdam.
All Rights Reserved.

In [ ]:
#Check the certain number is greater than all the numbers in list
x = [2, 4, 5, 3, 6, 8]
print(all([i > 4 for i in x]))
print(all([i > 1 for i in x]))

False
True

In [ ]:
#print the asci value of the alphabets
print(ord('a'))

97

In [ ]:
#Import the host name
import socket
print(socket.gethostname())

397026a3fa09

In [ ]:
#function to print the sum of cubes of numbers smaller than specific number
def sumofcube(n):
  sum = 0
  for i in range(n + 1):
    sum = sum + i**3
  return sum
print(sumofcube(4))
#function to print the sum of cubes of numbers smaller than specific number
#with recurrsion
def cube(n):
  if n == 1:
    return n
  return n**3 + cube(n-1)
print(cube(4))

100
100

In [ ]:
2**3

8

In [ ]:
#check the same sequence of numbers of zeros and ones
def checksequence(num):
  n = str(num)
  j = len(n)
  print('j', j)
  count = 0
  if n.count('0') == n.count('1'):
    for i in range(len(n)):
      if n[i] != n[j - 1]:
        count += 1
        #print('count:',count)
        j -= 1
        #print('j',j)
      
      if count == len(n):
        print('sequence is same')
  else:
    print('number are of not same sequence')

   
checksequence(111000111000)

j 12
sequence is same